<a href="https://colab.research.google.com/github/sondip702/Skill-Morph-assignment/blob/main/skill_morph_lecture_2_introduction_to_python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create variables for your name, age, and favorite color, then print them with descriptive labels.
# 2. Create one variable of each type and use the type() function to verify its type.
# 3. Calculate the area and perimeter of a rectangle with length 7 and width 5.
# 4. Create a list of 5 Bangladeshi foods, then access the first and last elements.
# 5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.
# 6. Create a dictionary about yourself with at least 4 key-value pairs.
# 7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.
# 8. Create two sets of colors and find their union and intersection.
# 9. Write a Python function that takes a string as input and prints the first and last character of the string.
# 10. Write a Python function that takes a string and converts it to uppercase.

*italicized text*# New Section

In [ ]:
name = "sondip day shuvo"
age = 25
favorite_color = "green"
print(name, age, favorite_color)

sondip day shuvo 25 green

In [ ]:
name = "sondip day shuvo"
age = 25
favorite_color = "green"
print(type(name))
print(type(age))
print(type(favorite_color))

<class 'str'>
<class 'int'>
<class 'str'>

In [ ]:
a = 7
b = 5
print(a*b)

35

In [ ]:
fruite = ['apple', 'banana', 'stobarry', 'watermalon', 'guyaba']
print(fruite[0])
print(fruite[-1])

apple
guyaba

In [ ]:
num = [5, 4, 8, 9, 15];
print(num);
num.append(7)
num.remove(8);
num.sort()
print(num)

[5, 4, 8, 9, 15]
[4, 5, 7, 9, 15]

In [ ]:
me = {
    "name" : "Sondip day Shuvo",
    "Stay" : "Modina market kalibari sylhet",
    "University" : "North East Univercity Bangladesh",
    "Study" : "Computer Science"
}
print(me)
print(me['Stay'])
print(me['Study'])
me["number"]="1234567890"
print(me)

{'name': 'Sondip day Shuvo', 'Stay': 'Modina market kalibari sylhet', 'University': 'North East Univercity Bangladesh', 'Study': 'Computer Science'}
Modina market kalibari sylhet
Computer Science
{'name': 'Sondip day Shuvo', 'Stay': 'Modina market kalibari sylhet', 'University': 'North East Univercity Bangladesh', 'Study': 'Computer Science', 'number': '1234567890'}

In [8]:
coordinates = ("24.5415.5", "90.4125")
print("Coordinates:", coordinates)

Coordinates: ('24.5415.5', '90.4125')

In [4]:
color1 = {"red", "green", "blue"}
color2 = {"yellow", "green", "red"}

code = color1.union(color2)
print(code)

code2 = color1.intersection(color2)
print(code2)

{'blue', 'green', 'red', 'yellow'}
{'red', 'green'}

In [9]:
coll = "this is the first page"
cole=coll.upper()
print(cole)

THIS IS THE FIRST PAGE